@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .bg-grad {
    @apply bg-gradient-to-b from-[#008E56] to-[#FFF62C];
  }
}
